<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOaj2n0YX-EA5gZifLCCieWW5ERpkHs-w</string>
	<key>GCM_SENDER_ID</key>
	<string>799097982109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatease</string>
	<key>PROJECT_ID</key>
	<string>chatease-7d87e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatease-7d87e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799097982109:ios:a213bf345a260564f99874</string>
</dict>
</plist>